{% extends 'dbdex/base.html' %}
{% load static %}

{% block title %}HTTP Header Test{% endblock title %}

{% block content %}
  <!-- Tabbar -->
  {% include 'dbdex/nav/tabbar.html' %}

  <!-- search component -->

  <section class='container-fluid main'>
    <div class='container'>
      <div class="form-enter">
      <h2>Scan the http header</h2>
      <p>Please enter the url to be tested in the following format: <br />
        http://www.example.com/
      </p>

      <!-- Header form -->
      {% include 'dbdex/forms.html' %}
    </div>
    
    <div id="outcome">
      {% if httpheader %}
      <p>result :</p>
      <ul class="list-unstyled list-group">
        {% for key,values in head.items %}
          <li class="list-group-item ">
            <span class="title"> {{key}} :</span> {{values}}
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    </div>
  </section>
{% endblock content %}