
{% extends 'dbdex/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <section id="showcase" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({% static 'img/home.jpg' %}) no-repeat center center; background-size: cover;">
        <div id="centralize">
            <h2 class="text-white" id="centralize">SQLDEX 1.0</h2>
            <p class="text-white" id="welcometext centralize">Welcome to sqldex, you can scan urls to detect for sql injection vulnurability. <br/>This will help you detect SQL injection in your website.</p>
            <button id="getstarted" onclick="window.location.href='sql'"><a href="{% url 'dbdex:sql' %}" id="getstarted">GET STARTED</a></button>
        </div>
    </section>
{% endblock content %}

        
                    