{% extends 'dbdex/base.html' %}
{% load static %}

{% block title %}XSS Injection Test{% endblock title %}

{% block content %}
    <!-- Tabbar -->
  {% include 'dbdex/nav/tabbar.html' %}
      
  <!-- search component -->
  <section class='container-fluid main'>
    <div class='container'>
      <div class="form-enter">
      <h2>Cross Site Scripting(XSS)</h2>
      <p>Please enter the url to be tested 
        in the following format: <br /> http://www.example.com/?page=something.php
      </p>

      {% include 'dbdex/forms.html' %}
    </div>

    <div id="parameter">

      <!-- NotVulnerability section -->
      {% if notvulnerable %}
        <p><strong>RESULT</strong></p>
        {{link}}{{getresult}}
      {% endif %}

      <!-- Vulnerability Section -->
      {% if vulnerable %}
        <span style="color:black;"><strong>RESULT: </strong></span>
        <span style="color: red;">{{link}}</span><span style="color:red; ">{{getresult}}</span>
        <p style="text-align: center; color: black;"><strong>Vulnerability Description</strong></p>
        
        <div class="table-responsive">
          <table class="table" style="color:black;">
            <thead>
              <tr>
                <th>Issue</th>
                <th>Description</th>
                <th>Suggested Remediation</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th>Encoding</th>
                <td>To reduce the risk we may encode some htmlchar</td>
                <td>htmlspecialchars will convert any "HTML special characters" into their HTML encodings, 
                  meaning they will then not be processed as standard HTML.
                </td>
              </tr>

              <tr>
                <th>Filter Input</th>
                <td>There is no WAF (web application firewall) Configured to block the Input form.</td>
                <td>Sanitize any user input before it is processed and/or rendered back to the browser. 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
    </div>
  </section>
{% endblock content %}