{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- The next div contains all the sub nav -->
<div id="tabbar">
  <div class="row">
    <div class="col-2" id="tab" style="margin-left:120px;">
      <p><a href="{% url 'sql' %}" id="getstarted">URL PARAMETER</a></p>
    </div>
    <div class="col-2" id="tab">
      <p><a href="{% url 'formparameter' %}" id="getstarted" class="text-white border-bottom">FORM PARAMETER</a></p>
    </div>
    <div class="col-2" id="tab">
      <p><a href="{% url 'header' %}" id="getstarted">HTTP HEADER</a></p>
    </div>

    <div class="col-2" id="tab">
      <p><a href="{% url 'xss' %}" id="getstarted">XSS</a></p>
    </div>
  </div>
</div>
<!-- ##############################-->

<!-- search component -->
<section id="main">
  <div id="centralizeform">
    <h2 class="text-white" style="padding-left: 15px;">Form Parameter</h2>
    <p class="text-white" id="pad" style="padding-left: 15px;">Please enter the url to be tested in the following
      format: <br />
      http://www.example.com/login.php
    </p>
    <form action="" method="POST" class="form-inline my-2 my-lg-0 col-lg-9 col-10">{% csrf_token %}
      {{form}}
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="submitbutton">Test Url</button>

    </form>
    </span>
    <div id="parameter">
      {% if notvulnerable %}
      <p><strong>RESULT</strong></p>
      {{link}}{{getresult}}

      {% endif %}

      {% if vulnerable %}
      <span style="color:black;"><strong>RESULT: </strong></span>
      <span style="color: red;">{{link}}</span><span style="color:red; ">{{getresult}}</span>
      <p style="text-align: center; color: black;"><strong>Vulnerability Description</strong></p>
      <div class="table-responsive">
        <table class="table" style="color:black;">
          <thead>
            <tr>
              <th>Issue</th>
              <th>Description</th>
              <th>Suggested Remediation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Input Validation</th>
              <td>Even though an id will always be a number, the example above is not validating user input at all.</p>
                <p>While validating user input is not a direct solution to SQL injection, it helps us control malicious
                  user input into the database.
              </td>
              <td>Before even processing the SQL query, validate user input.</p>
                <p>In this case, we need to check that the input is a number.
              </td>
            </tr>
            <tr>
              <th>Code allows for SQL injection</th>
              <td>The example above is accepting user input (in this case, from a GET parameter), and including it
                directly in the SQL statement.</p>
                <p>This allows an attacker to inject SQL into the query, therefore tricking the application into
                  sending a malformed query to the database.
              </td>
              <td>Use parameterized queries when dealing with SQL queries that contains user input.<p>A parameterized
                  query allows the database to understand which parts of the SQL query should be considered as user
                  input, therefore solving SQL injection.</li>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
</section>

{% endblock %}