{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--  The next div contains all the sub nav -->
<div id="tabbar">
  <div class="row">
    <div class="col-2" id="tab" style="margin-left:120px;">
      <p><a href="{% url 'sql' %}" id="getstarted">URL PARAMETER</a></p>
    </div>
    <div class="col-2" id="tab">
      <p><a href="{% url 'formparameter' %}" id="getstarted">FORM PARAMETER</a></p>
    </div>
    <div class="col-2" id="tab">
      <p><a href="{% url 'header' %}" id="getstarted">HTTP HEADER</a></p>
    </div>

    <div class="col-2" id="tab">
      <p><a href="{% url 'xss' %}" id="getstarted" class="text-white border-bottom">XSS</a></p>
    </div>
  </div>
</div>
<!-- ############################## -->

<!-- search component -->
<section id="main">
  <div id="centralizeform">
    <h2 class="text-white" style="padding-left: 15px;">Cross Site Scripting(XSS)</h2>
    <p class="text-white" id="pad" style="padding-left: 15px;">Please enter the url to be tested in the following
      format: <br />
      http://www.example.com/?page=something.php
    </p>
    <form action="" method="POST" class="form-inline my-2 my-lg-0 col-lg-9 col-10">{% csrf_token %}
      {{form}}
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="submitbutton">Test Url</button>

    </form>
    </span>
    <div id="parameter">
      {% if notvulnerable %}
      <p><strong>RESULT</strong></p>
      {{link}}{{getresult}}

      {% endif %}

      {% if vulnerable %}
      <span style="color:black;"><strong>RESULT: </strong></span>
      <span style="color: red;">{{link}}</span><span style="color:red; ">{{getresult}}</span>
      <p style="text-align: center; color: black;"><strong>Vulnerability Description</strong></p>
      <div class="table-responsive">
        <table class="table" style="color:black;">
          <thead>
            <tr>
              <th>Issue</th>
              <th>Description</th>
              <th>Suggested Remediation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Encoding</th>
              <td>To reduce the risk we may encode some htmlchar</td>
              <td>htmlspecialchars will convert any "HTML special characters" into their HTML encodings, meaning they
                will then not be processed as standard HTML.</td>
            </tr>
            <tr>
              <th>Filter Input</th>
              <td>There is no WAF (web application firewall) Configured to block the Input form.</td>
              <td>Sanitize any user input before it is processed and/or rendered back to the browser.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
</section>

{% endblock %}