{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white bg-custom fixed-top">
        <a class="navbar-brand" href="{% url 'dbdex:home' %}">
            <img width="150" height="50" class="img-thumbnail" src="{% static 'img/logo2.png' %}" alt="logo" style='border: 0; background-color: transparent;'>
        </a>
        <button class="navbar-toggler" typea="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <span class="sr-only"></span></a>
                </li>
            </ul>

            <span class="navbar-text" id="pad">
                    <a href="{% url 'dbdex:doc' %}">DOCUMENTATION</a>
            </span>
            
            <span class="navbar-text" id="pad">
                <a href="{% url 'dbdex:feedback' %}">FEEDBACK</a>
            </span>

        </div>
    </div>
</nav>

